.case-holder {
  position: relative;
  max-width: 389px;
  width: 100%;

  &-frame {
    position: relative;
    padding-top: 132.394%;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 20px;
      height: 100%;
      background: #eee;
      content: '';
      z-index: 20;
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: calc(((515 - 458) / 515) * 100%);
      background: #eee;
      content: '';
      z-index: 20;
    }
  }

  .inner-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 100%;
  }
}