.bring-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 1200px;

  .slide.active &,
  .swiper-slide.current & {

    .bring {
      transition: transform 2s ease-in-out,
        opacity 1s 1s ease-in-out;
    }

    .bring-1 {
      transform: translateX(0);

      @include media ('<tablet') {
        opacity: .9;
      }
    }

    .bring-2 {
      transform: translateX(9.42%);

      @include media ('<tablet') {
        opacity: .91;
      }
    }

    .bring-3 {
      transform: translateX(18.83%);

      @include media ('<tablet') {
        opacity: .92;
      }
    }

    .bring-4 {
      transform: translateX(28.25%);

      @include media ('<tablet') {
        opacity: .93;
      }
    }

    .bring-5 {
      transform: translateX(37.67%);
    }
  }

  .bring {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/bring.jpg') center center no-repeat;
    background-size: 100% 100%;
    transform: translateY(0);
    @include media ('<tablet'){
      background: url('../../../assets/images/bring-768.jpg') center center no-repeat;
      background-size: 100% 100%;
    }
  }

  .bring-1 {
    z-index: 5;
  }

  .bring-2 {
    z-index: 6;
  }

  .bring-3 {
    z-index: 7;
  }

  .bring-4 {
    z-index: 8;
  }

  .bring-5 {
    z-index: 9;
  }
}