@mixin position($img-width, $img-height, $part-width, $part-height, $part-number) {
    $width: calc(#{$part-width}/#{$img-width}*100);
    $height: calc(#{$part-height}/#{$img-height}*100);
    $bg-size-x: calc(100% * (100 / #{$width}));
    $bg-size-y: calc(100% * (100 / #{$height}));
    $top: calc(#{$part-number} * 100%/#{$img-height}*100);
    $left: calc(#{$part-number} * 100%/#{$img-width}*100);
    width: calc(1% * #{$width});
    height: calc(1% * #{$height});
    top: $top;
    left: $left;
    background-size: calc(#{$bg-size-x}) calc(#{$bg-size-y});

    .slide.active & {
        background-size: $bg-size-x $bg-size-y;
    }
}

.holder-frame1 {
    &:before {
        background-position: 0% 100%;
        background-size: 250% 100%;
        background: url('../../../assets/images/create.png') no-repeat;
        z-index: 25;
    }
}

.create-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;

    .slide.active & {
      
        .create-1 {
            transform: scale(1.5);
            opacity: .8;
        }

        .create-2 {
            background-position: 0 15%;
            opacity: .75;
        }

        .create-3 {
            background-position: 100% 15%;
        }

    }

    .create {
        position: absolute;
        transition: transform 2s ease-in-out,
            background-position 2s ease-in-out,
            opacity 1s 1s ease-in-out;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: url('../../../assets/images/create.png') no-repeat;
    }

    .create-1 {
        @include position(1200, 1200, 1200, 1200, 0);
    }

    .create-2 {
        @include position(860, 1200, 660, 1000, 1);
        background-position: 50% 50%;
    }

    .create-3 {
        @include position(860, 1200, 460, 800, 2);
        background-position: 50% 50%;
        transition: background-position 2.5s ease-in-out;
    }
}