.launch-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 1200px;

  .slide.active &,
  .swiper-slide.current & {

    .launch {
      transition: transform 2s ease-in-out,
        opacity 1s 1s ease-in-out;
    }

    .launch-1 {
      transform: translate3d(0, -37.67%, 0);
      opacity: 1;
    }

    .launch-2 {
      transform: translate3d(0, -28.25%, 0);

      @include media ('<tablet') {
        opacity: .9;
      }
    }

    .launch-3 {
      transform: translate3d(0, -18.83%, 0);

      @include media ('<tablet') {
        opacity: .91;
      }
    }

    .launch-4 {
      transform: translate3d(0, -9.42%, 0);

      @include media ('<tablet') {
        opacity: .92;
      }
    }

    .launch-5 {
      transform: translate3d(0, 0, 0);

      @include media ('<tablet') {
        opacity: .93;
      }
    }

  }

  .launch {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/launch.jpg') center center no-repeat;
    background-size: 100% 100%;
    transform: translate3d(0, 0, 0);
    @include media ('<tablet'){
      background: url('../../../assets/images/launch-768.jpg') center center no-repeat;
      background-size: 100% 100%;
    }
  }

  .launch-1 {
    z-index: 9;
  }

  .launch-2 {
    z-index: 8;
  }

  .launch-3 {
    z-index: 7;
  }

  .launch-4 {
    z-index: 6;
  }

  .launch-5 {
    z-index: 5;
  }
}